{{> /_components/header}}
{{> /_components/navbar}}
{{> /_components/sidebar-brand}}

<!-- 메인 화면 -->
<div class="content">
    <h2>매출 관리</h2>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <!-- 총 매출과 수수료 금액 확인 표 -->
                <div class="mr-5">
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <th scope="row">총 매출</th>
                            <td>{{brandSalesManagement.TotalSalesAmount}}</td>
                            <th scope="row">수수료</th>
                            <td>{{brandSalesManagement.fee}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 날짜 조회 -->
                <form action="/api/brand-sales-manage" method="get" class="input-group"
                      style="margin-right: 30px;  width: 650px;">
                    <span class="input-group-text">조회기간</span>
                    <input type="datetime-local" class="form-control" name="startDate">
                    <input type="datetime-local" class="form-control" name="endDate">
                    <button class="btn btn-primary ml-3">검색하기</button>
                </form>

            </div>


            <table class="table">
                <thead>
                <tr>
                    <th>상품 주문번호</th>
                    <th>상품명</th>
                    <th>총 판매 금액</th>
                    <th>수량</th>
                </tr>
                </thead>
                <tbody>
                {{#brandSalesManagement.brandOrderHistoryList}}
                    <tr>
                        <td>{{itemsId}}</td>
                        <td>{{itemsName}}</td>
                        <td>{{totalPrice}}</td>
                        <td>{{totalQuantity}}</td>
                    </tr>
                {{/brandSalesManagement.brandOrderHistoryList}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> /_components/footer}}
