{{> /_components/header}}
{{> /_components/navbar}}
{{> /_components/sidebar-brand}}

<!-- 메인 화면 -->
<div class="content">
    <h2>배송 목록</h2>
    <div class="card">
        <div class="card-body">
            <!-- 검색 폼 -->
            <form action="/api/delivery-manage" method="get" class="form-inline search-form float-right mb-3">
                <div class="form-group mr-2">
                    <select class="form-control" name="searchBy">
                        <option value="orderId">주문코드</option>
                        <option value="username">구매자</option>
                        <option value="recipient">수령인</option>
                        <option value="recipientPhoneNumber">수령인 연락처</option>
                        <option value="status">배송현황</option>
                    </select>
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" placeholder="검색명" name="keyword">
                </div>
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>주문번호</th>
                    <th>아이템명</th>
                    <th>구매자</th>
                    <th>수령인</th>
                    <th>수령인 연락처</th>
                    <th>배송현황</th>
                    <th>출발일자</th>
                    <th>도착일자</th>
                </tr>
                </thead>
                <tbody>
                {{#orderDeliveryList}}
                    <tr>
                        <td>{{orderId}}</td>
                        <td>{{itemName}}</td>
                        <td>{{userName}}</td>
                        <td>{{recipient}}</td>
                        <td>{{recipientPhoneNumber}}</td>
                        <td>{{status}}</td>
                        <td>{{orderDate}}</td>
                        <td>{{endDate}}</td>
                    </tr>
                {{/orderDeliveryList}}
                </tbody>
            </table>

            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


{{> /_components/footer}}
