{{> /layout/header}}
{{> /layout/navbar-common}}
{{> /layout/sidebar-admin}}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    관리자 정보
                </div>
                <div class="card-body">
                    {{#adminInfo}}
                        <form action="/api" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <img class="card-img-top" id="imgPreview1" src="/upload/{{photo.name}}">
                                <div class="input-group mt-3">
                                    <input type="file" class="form-control" data-preview-target="imgPreview1"
                                           onchange="previewImage(this, 'imgPreview1')" name="path"
                                           value="{{photo.path}}">
                                </div>
                                <div class="form-group">
                                    <label for="name">대표자 명</label>
                                    <input type="text" class="form-control" id="name" name="name"
                                         value="{{name}}"  placeholder="이름을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="email">아이디</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                          value="{{email}}" placeholder="이메일을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="password">비밀번호</label>
                                    <input type="password" class="form-control" id="password" name="password"
                                         value="{{password}}"  placeholder="비밀번호를 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="businessNum">회사 주소</label>
                                    <input type="compAdress" class="form-control" id="compAdress" name="address"
                                          value="{{address}}" placeholder="회사 주소를 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="phone">대표자 번호</label>
                                    <input type="phone" class="form-control" id="phone" name="phone"
                                         value="{{phone}}" placeholder="대표자 휴대폰 번호를 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="businessNum">사업자 번호</label>
                                    <input type="businessNum" class="form-control" id="businessNum" name="businessNum"
                                          value="{{businessNum}}" placeholder="브랜드명을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="brandName">브랜드 이름</label>
                                    <input type="brandName" class="form-control" id="brandName" name="brandName"
                                          value="{{brandName}}" placeholder="브랜드명을 입력하세요">
                                </div>
                                <div class="form-group">
                                    <label for="role">역할</label>
                                    <select class="form-control" id="role" name="role">role
                                        <option value="ADMIN" selected>ADMIN</option>
                                        <option value="BRAND">BRAND</option>
                                    </select>
                                </div>
                                <button type="submit" onclick="valid()" class="btn btn-primary btn-block">수정하기</button>
                            </div>
                        </form>
                    {{/adminInfo}}
                </div>
            </div>
        </div>
    </div>
</div>

{{> /layout/footer}}

<!-- 회원가입 -->
<script>

    function previewImage(inputElement, previewElementId) {
        if (inputElement.files && inputElement.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById(previewElementId).src = e.target.result;
            };
            reader.readAsDataURL(inputElement.files[0]);
        }
    }
</script>