{{> /_components/header}}
{{> /_components/navbar}}
{{> /_components/sidebar-admin}}

<!-- 메인 화면 -->
<div class="content">
    <h2>크리에이터 신청 목록</h2>
    <div class="card">
        <div class="card-body">
            <!-- 검색 폼 -->
            <form action="/api/user-manage" method="get" class="form-inline search-form float-right mb-3">
                <div class="form-group mr-2">
                    <select class="form-control" name="searchBy">
                        <option value="myName">이름</option>
                        <option value="nickName">닉네임</option>
                        <option value="email">이메일</option>
                    </select>
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" placeholder="검색명" name="keyword">
                </div>
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>이름</th>
                    <th>닉네임</th>
                    <th>이메일</th>
                    <th>인스타그램</th>
                    <th>크리에이터 신청</th>
                    <th>승인</th>
                    <th>거절</th>
                </tr>
                </thead>
                <tbody>
                {{#creatorList}}
                    <tr>
                        <td>{{myName}}</td>
                        <td>{{nickName}}</td>
                        <td>{{email}}</td>
                        <td>
                            <a href="https://www.instagram.com//{{instagram}}" class="btn btn-info" target="_blank">{{instagram}}</a>
                        </td>
                        <td>{{status}}</td>
                        <td>
                            <form method="post" action="/approve-creators/{{userId}}">
                                <button class="btn btn-success">승인</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="/reject-creators/{{userId}}">
                                <button class="btn btn-danger">거절</button>
                            </form>
                        </td>
                    </tr>
                {{/creatorList}}
                </tbody>
            </table>

            <!-- 페이징 -->
<!--            <nav aria-label="Page navigation example">-->
<!--                <ul class="pagination justify-content-center">-->
<!--                    <li class="page-item disabled">-->
<!--                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>-->
<!--                    </li>-->
<!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#">다음</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
    </div>
</div>

{{> /_components/footer}}