{{> /_components/header}}

<!--바디태그 시작부부은 header파일 안에 있음-->
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    로그인
                </div>
                <div class="card-body">
                    <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="email">이메일 주소</label>
                            <input type="email" class="form-control" id="email"  name="email" value="brown@nate.com" placeholder="이메일을 입력하세요">
                        </div>
                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input type="password" class="form-control" id="password" name="password" value="password1234" placeholder="비밀번호를 입력하세요">
                        </div>
                        <button class="btn btn-primary btn-block">로그인</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="/join-form">회원가입</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> /_components/footer}}
