{{> /layout/header}}
{{> /layout/navbar}}
{{> /layout/sidebar-brand}}


<!-- 메인 화면 -->
<div class="content">
    <h2 class="text-center mb-4">주문 상세보기</h2>
    <table class="table order-table table-bordered mb-5">
        <tbody>
        <tr>
            <td class="order-detail">주문코드:</td>
            <td>JN6TSU806KH001</td>
            <td class="order-detail">배송현황:</td>
            <td>상품 준비 중</td>
        </tr>
        <tr>
            <td class="order-detail">고객명:</td>
            <td>김성훈</td>
            <td class="order-detail">연락처:</td>
            <td>010-1234-5678</td>
        </tr>
        <tr>
            <td class="order-detail">총 가격:</td>
            <td>59,000원</td>
            <td class="order-detail">주문일자:</td>
            <td>2024.04.18</td>
        </tr>
        </tbody>
    </table>

    <div class="card p-3">
        <table class="table order-table table-bordered mb-3">
            <tbody>
            <tr>
                <td class="order-detail">상품코드:</td>
                <td>JN6TSU806KH</td>
                <td class="order-detail">상품명:</td>
                <td>컴패스 스몰로고 맨투맨</td>
            </tr>
            <tr>
                <td class="order-detail">상품 금액:</td>
                <td>59,000원</td>
                <td class="order-detail">개수:</td>
                <td>1개</td>
            </tr>
            </tbody>
        </table>
        <table class="table order-table table-bordered mb-3">
            <tbody>
            <tr>
                <td class="order-detail">상품코드:</td>
                <td>JN6TSU806KH</td>
                <td class="order-detail">상품명:</td>
                <td>컴패스 스몰로고 맨투맨</td>
            </tr>
            <tr>
                <td class="order-detail">상품 금액:</td>
                <td>59,000원</td>
                <td class="order-detail">개수:</td>
                <td>1개</td>
            </tr>
            </tbody>
        </table>
        <table class="table order-table table-bordered mb-3">
            <tbody>
            <tr>
                <td class="order-detail">상품코드:</td>
                <td>JN6TSU806KH</td>
                <td class="order-detail">상품명:</td>
                <td>컴패스 스몰로고 맨투맨</td>
            </tr>
            <tr>
                <td class="order-detail">상품 금액:</td>
                <td>59,000원</td>
                <td class="order-detail">개수:</td>
                <td>1개</td>
            </tr>
            </tbody>
        </table>
        <table class="table order-table table-bordered mb-3">
            <tbody>
            <tr>
                <td class="order-detail">상품코드:</td>
                <td>JN6TSU806KH</td>
                <td class="order-detail">상품명:</td>
                <td>컴패스 스몰로고 맨투맨</td>
            </tr>
            <tr>
                <td class="order-detail">상품 금액:</td>
                <td>59,000원</td>
                <td class="order-detail">개수:</td>
                <td>1개</td>
            </tr>
            </tbody>
        </table>
        <div class="text-center">
            <a href="#" class="btn btn-primary">발주 하기</a>
            <a href="/api/order-manage" class="btn btn-outline-primary">뒤로 가기</a>
        </div>
    </div>
</div>

{{> /layout/footer}}
