<!-- 사이드 바/시작 -->
<div class="sidebar">
    <h2>브랜드 페이지</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/api/admin-sales-manage">매출관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/items-manage">상품관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/order-manage">주문관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/delivery-manage">배송관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/inquiry-manage">문의관리</a>
        </li>
    </ul>
</div>
<!--사이드바/종료-->