<!-- 사이드 바 -->
<div class="sidebar">
    <h2>ROPA 관리자</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/api/admin-sales-manage">매출관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/user-manage">유저관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/api/creator-manage">크리에이터 관리</a>
        </li>
    </ul>
</div>