<!-- 사이드 바/시작 -->
<div class="sidebar">
    <h2>관리자 페이지</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">매출관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/item_list.html">상품관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order_list.html">주문관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/delivery_list.html">배송관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/inquiry_list.html">문의관리</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/stylist_list.html">코디관리</a>
        </li>
    </ul>
</div>
<!--사이드바/종료-->