{{> layout/header}}
{{> layout/navbar}}
{{> layout/sidebar}}

<!-- 메인 화면 -->
<div class="content">
    <h2>코디 등록</h2>
    <div class="card">
        <div class="card-body">
            <div class="justify-content-center">
                <form action="" method="post">
                    <!-- 이미지 -->
                    <div class="d-flex justify-content-center my-5">
                        <div class="card" STYLE="width: 350PX">
                            <img class="card-img-top" id="imgPreview" src="/images/cloth.png">
                            <div class="input-group">
                                <input type="text" class="form-control" name="imgFilename" value=""
                                       onchange="previewImage(this)">
                            </div>
                        </div>
                    </div>

                    <div class="card-body d-flex justify-content-center">
                        <div class="row">
                            <div class="col">
                                <!-- 코디 등록 input -->
                                <div class="input-group" style="width: 500px;">
                                        <span class="input-group-text"
                                              style="display: inline-block; vertical-align: middle; line-height: normal;"
                                              id="basic-addon1">코디명</span>
                                    <input type="text" class="form-control" placeholder="완준룩" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group">
                                        <span class="input-group-text"
                                              style="display: inline-block; vertical-align: middle; line-height: normal;">상의</span>
                                    <input type="text" class="form-control" placeholder="컴패스 스몰로고 맨투맨"
                                           aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                        <span class="input-group-text"
                                              style="display: inline-block; vertical-align: middle; line-height: normal;"
                                              id="basic-addon1">하의</span>
                                    <input type="text" class="form-control" placeholder="Username"
                                           aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <!-- 확인 버튼 -->
                                <div class="text-center">
                                    <button class="btn btn-primary mb-3">확인</button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>

            <div>
                <!--카테고리 버튼-->
                <select class="btn btn-primary float-left mb-3 mr-2">소분류
                    <option value="상의">맨투맨</option>
                    <option value="하의">반팔</option>
                    <option value="상의">셔츠</option>
                    <option value="하의">청바지</option>
                    <option value="상의">반바지</option>
                </select>
                <select class="btn btn-primary float-left mb-3 mr-2">대분류
                    <option value="상의">상의</option>
                    <option value="하의">하의</option>
                </select>

                <!--상품 목록-->
                <div class="clearfix">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>체크</th>
                            <th>상품 주문번호</th>
                            <th>상품명</th>
                            <th>상품 금액</th>
                            <th>재고 수량</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1111</td>
                            <td>컴패스 스몰로고 맨투맨</td>
                            <td>59,000</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>2222</td>
                            <td>컴패스 스몰로고 맨투맨</td>
                            <td>59,000</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>3333</td>
                            <td>컴패스 스몰로고 맨투맨</td>
                            <td>59,000</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>4444</td>
                            <td>컴패스 스몰로고 맨투맨</td>
                            <td>59,000</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>5555</td>
                            <td>컴패스 스몰로고 맨투맨</td>
                            <td>59,000</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>6666</td>
                            <td>컴패스 스몰로고 맨투맨</td>
                            <td>59,000</td>
                            <td>1</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 저장 -->
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">등록하기</button>
                </div>


            </div>
        </div>
    </div>

    <script>

    </script>
</body>

</html>