{{> /layout/header}}
{{> /layout/navbar}}
{{> /layout/sidebar}}


<!-- 메인 화면 -->
<div class="content">
    <h2>문의 상세 내용 및 답변</h2>
    <!-- 첫 번째 문의 항목 -->
    <div class="card mt-4">
        <div class="card-body">
            <div class="info mb-3">
                <div><strong>문의 번호:</strong> 1</div>
                <div><strong>문의 일자:</strong> 2024.04.18</div>
            </div>
            <p><strong>이름:</strong> 2조 일동</p>
            <p><strong>제목:</strong> 제발,,,</p>
            <p><strong>내용:</strong> 선규씨 이런 형태로 부탁드려요,,,</p>
        </div>
    </div>

    <!-- 첫 번째 문의 항목에 대한 답변 폼 -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">답변하기</h5>
            <form>
                <div class="form-group">
                    <label for="answer1">답변 내용</label>
                    <textarea class="form-control" id="answer1" rows="3"></textarea>
                </div>
                <a href="/api/inquiry-manage" class="btn btn-primary float-right">답변 등록</a>
            </form>
        </div>
    </div>
</div>


{{> /layout/footer}}