{{> /_components/header}}
{{> /_components/navbar}}
{{> /_components/sidebar-brand}}

{{#inquiryReply}}
<!-- 메인 화면 -->
<div class="content">
    <h2>문의내용 및 답변</h2>
    <div class="card">
        <div class="card-body">
            <div class="info mb-3">



                <div><strong>문의 번호:</strong> {{id}}</div>
                <div><strong>문의 일자:</strong> {{createdAt}}</div>
            </div>
            <p><strong>이름:</strong> {{myName}}</p>
            <p><strong>제목:</strong> {{title}}</p>
            <p><strong>내용:</strong> {{content}}</p>
        </div>
    </div>

    <!-- 첫 번째 문의 항목에 대한 답변 폼 -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">답변하기</h5>
            <form action="/api/inquiry-reply-update" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group">
                    <label for="answer1">답변 일자 : {{commentedAt}}</label>
                    <div>
                        <input type="hidden" name="inquiryId" value="{{id}}">
                    </div>
                    <div>
                        <textarea class="form-control" id="answer1" rows="3" name="comment">{{comment}}</textarea>
                    </div>
                </div>
                {{^isReplied}}
                    <button type="submit" class="btn btn-primary float-right">답변 등록</button>
                {{/isReplied}}
                {{#isReplied}}
                    <button type="submit" class="btn btn-primary float-right">수정 하기</button>
                {{/isReplied}}
            </form>
        </div>
    </div>
</div>
{{/inquiryReply}}

{{> /_components/footer}}