{{> /_components/header}}
{{> /_components/navbar}}
{{> /_components/sidebar-brand}}

<!-- 메인 화면 -->
<div class="content">
    <h2>문의 목록</h2>
    <div class="card">
        <div class="card-body">
            <!-- 검색 폼 -->
            <form action="/api/inquiry-manage" method="get" class="form-inline search-form float-right mb-3">
                <div class="form-group mr-2">
                    <select class="form-control" name="searchBy">
                        <option value="username">이름</option>
                        <option value="title">제목</option>
                    </select>
                </div>
                <div class="form-group mr-2">
                    <input type="text" class="form-control" placeholder="검색명" name="keyword">
                </div>
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
            <table class="table">
                <colgroup>
                    <col style="width: 15%;"> <!-- 문의 번호 -->
                    <col style="width: 15%;"> <!-- 이름 -->
                    <col style="width: 30%;"> <!-- 제목 -->
                    <col style="width: 15%;"> <!-- 문의일자 -->
                    <col style="width: 10%;"> <!-- 답변 상태 -->
                    <col style="width: 15%;"> <!-- 답변하기 -->
                </colgroup>
                <thead>
                <tr>
                    <th>게시글 번호</th>
                    <th>이름</th>
                    <th>제목</th>
                    <th>문의일자</th>
                    <th>답변 상태</th>
                    <th>답변하기</th>
                </tr>
                </thead>
                <tbody>
                {{#inquiryList}}
                    <tr>
                        <td>{{num}}</td>
                        <td>{{myName}}</td>
                        <td>{{title}}</td>
                        <td>{{createdAt}}</td>
                        <td>
                            {{#status}}
                                <span class="btn btn-outline-secondary no-wrap-button" disabled>{{statusMsg}}</span>
                            {{/status}}
                            {{^status}}
                                <span class="btn btn-outline-primary no-wrap-button" disabled>{{statusMsg}}</span>
                            {{/status}}
                        </td>
                        <td><a href="/api/inquiry-reply/{{id}}">내용보기</a></td>
                    </tr>
                {{/inquiryList}}
                </tbody>
            </table>

            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> /_components/footer}}
