{{> /_components/header}}
{{> /_components/navbar}}
{{> /_components/sidebar-brand}}

<!-- 메인 화면 -->
<div class="content">
    <h2>상품 수정</h2>
    <div class="card">
        <div class="card-body">
            <div class="justify-content-center">
                <form action="/api/register/items-update/{{itemId}}" method="post" enctype="multipart/form-data">
                    <!-- 이미지 -->
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="card m-3">
                                <h4 class="card-header text-center">상품 이미지</h4>
                                <div class="card-body">
                                    <img class="card-img-top" id="imgPreview1" src="{{itemsDetail.itemMainImage}}">
                                    <div class="input-group mt-3">
                                        <input type="file" class="form-control" data-preview-target="imgPreview1"
                                               onchange="previewImage(this, 'imgPreview1')" name="mainImage">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card m-3">
                                <h4 class="card-header text-center">상품 설명</h4>
                                <div class="card-body">
                                    <img class="card-img-top" id="imgPreview2" src="{{itemsDetail.itemDetailImage}}">
                                    <div class="input-group mt-3">
                                        <input type="file" class="form-control" data-preview-target="imgPreview2"
                                               onchange="previewImage(this,'imgPreview2')" name="detailImage">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 코디 등록 명 적는 테이블 -->
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td class="align-middle" style="width: 30%;">상품명</td>
                                <td>
                                    <input type="text" class="form-control" name="name" placeholder="상품명"
                                           value="{{itemsDetail.name}}" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">상위 카테고리</td>
                                <td>
                                    <select class="form-select" name="mainCategory" style="width: 800px;">
                                        <option value="상의">상의</option>
                                        <option value="하의">하의</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">하위 카테고리</td>
                                <td>
                                    <select class="form-select" name="subCategory" style="width: 800px;">
                                        <option value="셔츠">셔츠</option>
                                        <option value="맨투맨">맨투맨</option>
                                        <option value="반팔">반팔</option>
                                        <option value="청바지">청바지</option>
                                        <option value="슬랙스">슬랙스</option>
                                        <option value="반바지">반바지</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">사이즈</td>
                                <td>
                                    <input type="text" class="form-control" name="size" placeholder="판매가격"
                                           value="{{itemsDetail.size}}" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">판매가격</td>
                                <td>
                                    <input type="text" class="form-control" name="price" placeholder="판매가격"
                                           value="{{itemsDetail.price}}" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">할인가</td>
                                <td>
                                    <input type="text" class="form-control" name="discountPrice" placeholder="판매가격"
                                           value="{{itemsDetail.discountPrice}}" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">재고</td>
                                <td>
                                    <input type="text" class="form-control" name="stock" placeholder="재고"
                                           value="{{itemsDetail.stock}}" aria-label="Username"
                                           aria-describedby="basic-addon1">
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle">설명</td>
                                <td>
                                    <textarea type="text" class="form-control" name="description"
                                              placeholder="아이템 설명">{{itemsDetail.description}}</textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 등록 -->
                    <div class="text-center">
                        <button class="btn btn-primary">수정완료</button>
                        <a href="/api/items-manage" class="btn btn-outline-primary">목록으로</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage(inputElement, previewElementId) {
        if (inputElement.files && inputElement.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById(previewElementId).src = e.target.result;
            };
            reader.readAsDataURL(inputElement.files[0]);
        }
    }

</script>

{{> /layout/footer}}