{{> /layout/header}}
{{> /layout/navbar}}
{{> /layout/sidebar-brand}}


<!-- 메인 화면 -->
<div class="content">
    <h2>상품 목록</h2>
    <div class="card">
        <div class="card-body">
            <a href="/api/items-register-form" class="btn btn-primary mb-3">상품등록</a>
            <!-- 검색 폼 -->
            <form class="form-inline search-form float-right mb-3">
                <div class="form-group mr-2">
                    <select class="form-control">
                        <option selected>상품번호</option>
                        <option>상품명</option>
                        <option>상품가격</option>
                        <option>카테고리</option>
                    </select>
                </div>
                <div class="form-group mr-2">ㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴㄴ
                    <input type="text" class="form-control" placeholder="검색명">
                </div>
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>상품번호</th>
                    <th>상품명</th>
                    <th>상품가격</th>
                    <th>카테고리</th>
                    <th>재고수량</th>
                </tr>
                </thead>
                <tbody>
                {{#itemsList}}
                <tr>
                    <td>{{itemId}}</td>
                    <td>{{itemName}}</td>
                    <td>{{price}}</td>
                    <td>{{mainCategory}}</td>
                    <td>{{stock}}</td>
                </tr>
                {{/itemsList}}
                </tbody>
            </table>

            <!-- 페이징 -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


{{> /layout/footer}}