{{> /layout/header}}
{{> /layout/navbar}}
{{> /layout/sidebar-brand}}


<!-- 메인 화면 -->
<div class="content">
    <h2>상품 상세보기</h2>
    <div class="card">
        <div class="card-body">
            <div class="justify-content-center">
                <!-- 상품 이미지 -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card m-3">
                            <h4 class="card-header text-center">상품 이미지</h4>
                            <div class="card-body">
                                <img class="card-img-top" src="/images/shirt.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card m-3">
                            <h4 class="card-header text-center">상품 설명</h4>
                            <div class="card-body">
                                <img class="card-img-top" src="/images/shirt.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 상품 정보 -->
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td class="align-middle" style="width: 30%;">상품명</td>
                            <td>{{itemsDetail.name}}</td>
                        </tr>
                        <tr>
                            <td class="align-middle">카테고리</td>
                            <td>{{itemsDetail.mainCategory}}</td>
                        </tr>
                        <tr>
                            <td class="align-middle">세부 카테고리</td>
                            <td>{{itemsDetail.subCategory}}</td>
                        </tr>
                        <tr>
                            <td class="align-middle">사이즈</td>
                            <td>{{itemsDetail.size}}</td>
                        </tr>
                        <tr>
                            <td class="align-middle">판매가격</td>
                            <td>{{itemsDetail.price}}원</td>
                        </tr>
                        <tr>
                            <td class="align-middle">할인가</td>
                            <td>{{itemsDetail.discountPrice}}원</td>
                        </tr>
                        <tr>
                            <td class="align-middle">재고</td>
                            <td>{{itemsDetail.stock}}개</td>
                        </tr>
                        <tr>
                            <td class="align-middle">설명</td>
                            <td>{{itemsDetail.description}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- 등록 버튼 -->
            <div class="text-center">
                <a href="/api/items-update-form" class="btn btn-primary">수정하기</a>
                <a href="/api/items-manage" class="btn btn-outline-primary">이전</a>
            </div>
        </div>
    </div>
</div>

{{> /layout/footer}}